#            /$$$$$$$  /$$$$$$$  /$$   /$$
#           | $$__  $$| $$__  $$| $$  / $$
#           | $$  \ $$| $$  \ $$|  $$/ $$/
#           | $$$$$$$/| $$$$$$$/ \  $$$$/ 
#           | $$__  $$| $$____/   >$$  $$ 
#           | $$  \ $$| $$       /$$/\  $$
#           | $$  | $$| $$      | $$  \ $$
#           |__/  |__/|__/      |__/  |__/     

#               Made by Sinatra#0101
#                 https://rpx.red/
#          https://discord.gg/mMNJsDEFp5


{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, rpx, rpx-core"

sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "en-US"
load_server_icon ServerLogo.png

# IMPORTANT FOR REDM
set gamename rdr3
set sv_enforceGameBuild 1436
set onesync on

set mysql_connection_string "{{dbConnectionString}}"

## START DEFAULT RESOURCES ##

ensure chat
ensure oxmysql
ensure ox_lib
ensure meta_target

## START RPX RESOURCES ##
ensure rpx-core
ensure [RPX]
ensure [STANDALONE]

## Permissions ##
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.{{principalMasterIdentifier}} group.admin # add the admin to the group